<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='{% static "/css/index.css" %}'>
    <title>portfolio</title>
</head>
<body>
<h1>welcome welcome welcomeeeee</h1>
</body>
</html>